<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8ead5f491f.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser) { %>
              <li class="nav-item">
                <a class="nav-link active" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/register">Sign Up</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link active" style="cursor: default;" href="">Hello <%= currentUser.username %>!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
            <% } %>
          </ul>
        </div>
    </nav>

    <div class="container">
      <% if(errorMessage && errorMessage.length > 0) { %>
        <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
      <% } else if(successMessage && successMessage.length > 0) { %>
      <div class="alert alert-success" role="alert"><%= successMessage %></div>
      <% } %>
    </div>