<%- include("partials/header"); %>

<h1>Campgrounds</h1>

<a href="/">Home</a>

<ul>
    <% campgrounds.forEach(campground => { %>
        <li><%= campground.name %></li>
        <img src="<%= campground.picture %>">
    <% }) %>
</ul>

<%- include("partials/footer"); %>