<%- include("partials/header"); %>

<div class="jumbotron" style="background-color: cornflowerblue;">
    <h1 class="display-1">Welcome to YelpCamp <i class="fas fa-campground"></i></h1>
    <p class="lead">Find the best campgrounds out there!</p>
    <hr class="my-4">
    <a class="btn btn-info btn-lg" href="/campgrounds" role="button">Go to Campgrounds</a>
  </div>

<%- include("partials/footer"); %>