<%- include("partials/header"); %>

<div class="jumbotron">Welcome to YelpCamp! <i class="fas fa-campground"></i></div>

<a href="/campgrounds">Go to Campgrounds</a>

<%- include("partials/footer"); %>