<%- include("partials/header"); %>

<h1>Add New Campground</h1>

<!-- <a href="/">Home</a><br><br> -->
<a href="/campgrounds">Go Back</a><br><br>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit</button>
</form>

<%- include("partials/footer"); %>