/* body {
    background-color: beige;
} */

#comments-list {
    list-style: none;
    padding-left: 0;
}

/* .delete-form {
    display: inline;
} */

.jumbotron {
    background-image: url("/images/jumbotron-bg.jpg");
    color: white;
}

.card-body {
    background-color: beige;
}